{% extends 'base.html' %}
{% block head %}
<style type="text/css">
    /* 제목용 폰트 */
    /* @font-face {
        font-family: 'InfinitySans-BoldA1';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        
    }
    p{font-family:"InfinitySans-BoldA1",serif;} */

    /* 본문용 폰트 */
    @font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    }
    span{font-family:"MapoFlowerIsland",serif;}
</style>
<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
{% endblock %}

{% block content %}
{%load static%}
<style>
body{
/* background-image:url("https://pbs.twimg.com/media/DNHbqKqUQAA9Y_l.jpg"); */
background-color:#e5dcf3;
}
</style>

<br><br>
<h2 style="text-align: center; color:#2e3131; font-weight:bold;"><span>당신의 서점은 무엇일까요?</span></h2>
<br><br>
<div class="container" style="text-align: center;">
    <main id="swup" class="transition-fade">
    <div class="row">
        <div class="col">
            <h5><span>새벽에 TV를 시청하는데</span></h5>
            <h5><span>야식을 먹는 장면이 등장합니다</span></h5><img src="{%static '하정우먹방.jpg'%}" width="300px" height="200px" alt="">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h5><span>야식 먹을 시간이 다가왔습니다</span></h5> 
            <h5><span>당신이라면 어떻게 하시겠습니까?</span></h5>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-2">
            
        </div>
        <div class="col-4 input-group">
            <!-- <button type="button" class="btn btn-outline-primary"><a href="{% url 'sign_psy2' %}"><h5>1. 카페인을 위해 커피 마시기</h5></a></button> -->
            <a href="{% url 'tag_comfort' %}" class="form-control" style="border-radius: 10px; background-color:#bd9fe7; color:white; font-family:MapoFlowerIsland;">1. 친구를 불러 함께 먹기</a>
            <!-- 편안함 -->
        </div>
        <div class="col-4 input-group">
            <!-- <button type="button" class="btn btn-outline-primary"><a href="{% url 'sign_psy2_1' %}"><h5>2. 낮잠자기</h5></a></button> -->
            <a href="{% url 'tag_simple' %}" class="form-control" style="border-radius: 10px; background-color:#bd9fe7; color:white; font-family:MapoFlowerIsland;">2. 온라인으로 음식 배달 주문하기</a>
            <!-- 심플 -->
        </div>
    </div>
<br>
<br>
    <div class="row">
        <div class="col-2">
            
        </div>
        <div class="col-4 input-group">
            <!-- <button type="button" class="btn btn-outline-primary"><a href="{% url 'sign_psy2_2' %}"><h5>3. 전신 스트레칭 하기</h5></a></button> -->
            <a href="{% url 'tag_comfort' %}" class="form-control" style="border-radius: 10px; background-color:#bd9fe7; color:white; font-family:MapoFlowerIsland;">3. 귀찮으므로 먹지 않기</a>
            <!-- 편안함 -->
        </div>
        <div class="col-4 input-group">
            <!-- <button type="button" class="btn btn-outline-primary"><a href="{% url 'sign_psy2_3' %}"><h5>4. 간식거리를 챙기기</h5></a></button> -->
            <a href="{% url 'tag_simple' %}" class="form-control" style="border-radius: 10px; background-color:#bd9fe7; color:white; font-family:MapoFlowerIsland;">4. 집 앞 편의점 가기</a>
            <!-- 심플 -->
        </div>
    </div>
</main>
</div>
    
{% endblock %}